.mainHeader{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 10px 5px;
    background: #000;
    color: #fff;
    border-bottom: solid 3px var(--brown);
    box-shadow: rgba(0, 0, 0, 1.18) 0px 6px 4px 0px;

    h1{
        flex-basis: 100%;
        text-align: center;
    }

    .theme{
        color: var(--brown);
    }
}